@model IEnumerable<EntityModel.Entity.Book>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Publisher)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EpubUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PdfUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WordUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PrcUrl)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageUrl)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EpubUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PdfUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WordUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrcUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
