@model EntityModel.Entity.Category

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("~/Views/Shared/_DetailHeader.cshtml", @Model.Name)
<div>
    <dl class="row">
        <dt class="col-sm-2">
            Danh mục
        </dt>
        <dd class="col-sm-10">
            <p>@Html.DisplayFor(model => model.Name)</p>
        </dd>
        <dt class="col-sm-2">
            Hình ảnh
        </dt>
        <dd class="col-sm-10">
            <img class="img-fluid" src="@Html.DisplayFor(model => model.ImageUrl)" alt="@Html.DisplayTextFor(model => model.Name)" height="300" width="300">
        <dt class="col-sm-2">
            Danh mục cha
        </dt>
        <dd class="col-sm-10">
            @if (Model.ParentId > -1)
            {
                <p>@Html.DisplayFor(model => model.Parent.Name)</p>
            }
            else
            {
                <p>--Root--</p>
            }
        </dd>
        <dt class="col-sm-2">
            Diễn giải
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
@Html.Partial("~/Views/Shared/_DetailFooter.cshtml", @Model.Id)
