@model EntityModel.Entity.Category

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<style>
    #list-images-create li {
        height: 87px;
        width: 87px;
        border: 1px solid #242424;
        padding: 5px;
        text-align: center;
        margin: 5px;
    }

        #list-images-create li.selected {
            background-color: dodgerblue;
        }

        #list-images-create li img {
            height: 75px;
            width: 75px;
        }
</style>*@
@Html.Partial("~/Views/Shared/_DetailHeader.cshtml", @Model.Name)
<div>
    <dl class="row">
        <dt class="col-sm-2">
            Danh mục
        </dt>
        <dd class="col-sm-10">
            <p>@Html.DisplayFor(model => model.Name)</p>
        </dd>
        <dt class="col-sm-2">
            Hình ảnh
        </dt>
        <dd class="col-sm-10">
            <ul id="list-images-create" class="list-unstyled list-inline">
                @foreach (var img in Model.ImageUrl.Split(","))
                {
                    <li><img src="@img" alt="@img" /></li>
                }
            </ul>
        <dt class="col-sm-2">
            Danh mục cha
        </dt>
        <dd class="col-sm-10">
            @if (Model.ParentId > -1)
            {
                <p>@Html.DisplayFor(model => model.Parent.Name)</p>
            }
            else
            {
                <p>--Root--</p>
            }
        </dd>
        <dt class="col-sm-2">
            Diễn giải
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.Description)
        </dd>
    </dl>
</div>
@Html.Partial("~/Views/Shared/_DetailFooter.cshtml", @Model.Id)
<script>
    tinymce.init({ selector: 'textarea' });
</script>
