@model IEnumerable<EntityModel.Entity.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("~/Views/Shared/_IndexHeader.cshtml", "Danh sách nhóm hàng")

<table class="table">
    <thead>
        <tr>
                <th>
                    Tên danh mục
                </th>
                <th>
                    Danh mục cha
                </th>
                <th>
                    Mô tả
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parent.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td class="pull-right">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
