@using System.Web;
@model IEnumerable<EntityModel.Entity.Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("~/Views/Shared/_IndexHeader.cshtml", "Danh sách hàng hóa")

<table class="table">
    <thead>
        <tr>
            <th>
                Tên hàng hóa
            </th>
            <th>
                Đơn giá
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.ImageUrl)
                </th>*@
            <th>
                Mô tả hàng hóa
            </th>
            <th>
                Đơn vị tính
            </th>
            <th>
                Nhóm hàng
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                @*<td>
                        <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" alt="@Html.DisplayTextFor(modelItem => item.Name)" height="100" width="100">
                    </td>*@
                <td>
                    @Html.Raw(HttpUtility.HtmlDecode(item.Description))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitItem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td class="pull-right">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
