@model AdminSite.Models.AccountModel;
@{
    ViewData["Title"] = "Home Page";
}

@if (!string.IsNullOrEmpty(ViewBag.SessionLogin))
{
    @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")
}
else
{
<div>
    @using (Html.BeginForm())
    {
        <div>
            @Html.LabelFor(model => model.Username)
            @Html.TextBoxFor(model => model.Username)
        </div>
        <div>
            @Html.LabelFor(model => model.Password)
            @Html.TextBoxFor(model => model.Password)
        </div>
        <button>Login</button>
    }
</div>

}
