@model HomeViewModel
<style>
    .price-label {
        width: 200px;
        position: relative;
        padding: 20px 23px 17px 47px;
        border-radius: 40px;
        margin-bottom: 15px;
        background-color: #fdd835;
        font-size: 16px;
    }

        .price-label:before {
            position: absolute;
            top: 37%;
            left: 18px;
            width: 16px;
            height: 16px;
            background-color: #ffffff;
            border-radius: 50%;
            content: "";
        }

    .category-product {
        margin: 20px 0;
    }

        .category-product img {
            height: 265px;
            width: 265px;
            padding: 2px;
            border: 1px solid #d7d7d7;
            transition: border 0.5s ease;
        }

            .category-product img:hover {
                border: 1px solid #242424;
            }

	.category-product a{
        color: #242424;
        text-decoration: none;
    }

	.category-product a:hover{
        color: rgba(36,36,36,0.65);
        text-decoration: none;
    }
</style>

<div class="row">
    <div class="col-sm-12">
        <div class="row">
            @foreach (var pro in Model.ListProductPaging)
            {
                <div class="col-sm-4 category-product">
                    <!--<a asp-controller="Product" asp-action="Index" asp-route-id="@pro.Id">
                        <img src="@pro.ImageUrl" alt="@pro.Name" />
                    </a>
                    <a asp-controller="Product" asp-action="Index" asp-route-id="@pro.Id">
                        <p style="font-weight: 700;font-size: 16px; margin: 15px 0;">@pro.Name</p>
                    </a>-->
				    <a asp-controller="Product" asp-action="Index" asp-route-id="@pro.Id">
                        @{ var imgUrl = !string.IsNullOrEmpty(pro.ImageUrl) ? pro.ImageUrl.Split(',')[0] : string.Empty; }
                        <img src="@imgUrl" style="margin: 0 auto; display: block;" alt="@pro.Name" />
                        <p style="text-align: left;font-weight: 700;font-size: 16px; margin: 15px 10px;">@pro.Name</p>
                    </a>
                    <p class="price-label" style="color: #242424;"><strong>Giá:</strong> Liên hệ</p>
                </div>
            }
        </div>
    </div>
</div>