@model HomeViewModel
@{
    ViewData["Title"] = Model.ActiveCategory.Name;
}
<style>
    .price-label {
        width: 200px;
        position: relative;
        padding: 20px 23px 17px 47px;
        border-radius: 40px;
        margin-bottom: 15px;
        background-color: #fdd835;
        font-size: 16px;
    }

        .price-label:before {
            position: absolute;
            top: 37%;
            left: 18px;
            width: 16px;
            height: 16px;
            background-color: #ffffff;
            border-radius: 50%;
            content: "";
        }

    .category-product {
        margin: 20px 0;
    }

        .category-product img {
            height: 265px;
            width: 265px;
            padding: 2px;
            border: 1px solid #d7d7d7;
            transition: border 0.5s ease;
        }

            .category-product img:hover {
                border: 1px solid #242424;
            }
</style>
<div class="row">
    <div class="col-sm-12">
        <div class="media" style="display: inline-flex;">
            <img class="d-flex align-self-start mr-3" src="@Model.ActiveCategory.ImageUrl" alt="@Model.ActiveCategory.Name" height="175" width="175">
            <div class="media-body" style="margin-left: 15px; color: #8c8c8c">
                <h3 class="mt-0" style="margin-top: 0;"><strong>@Model.ActiveCategory.Name</strong></h3>
                @Html.Raw(Model.ActiveCategory.Description)
            </div>
        </div>
    </div>
</div>
<br /><br />
<div class="row">
    <div class="col-sm-6">
        <span>Items per page:</span>
        <select>
            <option>8</option>
            <option>16</option>
            <option>32</option>
        </select>
    </div>
    <div class="col-sm-6 text-right">
        <span>1</span>|<span>2</span>|  <span>3</span>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-12">
        <div class="row">
            @foreach (var pro in Model.ListProduct.Where(pro => pro.CategoryId == Model.ActiveCategoryId))
            {
                <div class="col-sm-4 category-product">
                    <a asp-controller="Product" asp-action="Index" asp-route-id="@pro.Id">
                        <img src="@pro.ImageUrl" alt="@pro.Name" />
                    </a>
                    <a asp-controller="Product" asp-action="Index" asp-route-id="@pro.Id">
                        <p style="font-weight: 700;font-size: 16px; margin: 15px 0;">@pro.Name</p>
                    </a>
                    <p class="price-label"><strong>Giá:</strong> Liên hệ</p>
                </div>
            }
        </div>
    </div>
</div>
@foreach (var cat in Model.ListCategory)
{

}
