@model HomeViewModel;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Công ty TNHH TM&DV Kim Huy Hoàng</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    <link rel="icon" href="~/images/logo/logo.png">
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Anton|Montserrat:400,700,800,900" rel="stylesheet">

    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>

<body style="padding-top: 188px;">
    <div id="fb-root"></div>
    @*/ Script for facebook plugin /*@
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.10&appId=1481655535225355";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="row">
                    <div class="col-sm-6">
                        <a asp-area="" asp-controller="Home" asp-action="Index" style="width: 300px; display: inline-block;">
                            <img src="~/images/logo/logo_white_bg.png" alt="Kim Huy Hoang" width="75" height="75" style="background-image: none; display: inline-block; margin: 15px 0;" />
                            <h3 class="header-logo"><strong><u>KIM HUY HOÀNG</u></strong></h3>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <form asp-controller="home" asp-action="search" method="post" enctype="multipart/form-data">
                            <div class="input-group" id="searchbox" style="width: 80%; float: right; margin: 25px;">
                                <input name="value" id="searchinput" type="text" class="form-control" style="background-color: #f5f5f5;" placeholder="Search for..." aria-label="Search for...">
                                <span class="input-group-btn">
                                    <button id="searchbutton" class="btn" type="submit"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="static-navbar">
            <div class="max-width-1200" style="margin: 0 auto;">
                <div class="row">
                    @foreach (var category in Model.ListCategory.Take(12).Where(cat => cat.ParentId == -1))
                    {
                        <div class="col-md-1 static-navbar-item">
                            <a class="text-dark" asp-area="" asp-controller="Category" asp-action="Index" asp-route-id="@category.Id">@category.Name</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </nav>
    @{
        //var iconCatActived = "fa-angle-right"; //chevron-right
    }
    <div class="container-fluid" style="padding: 0;">
        <div class="breadcrumb">
            <div class="max-width-1200" style="margin: 0 auto;">
                <div class="row" style="font-size: 16px; margin-left: 15px; margin-right: 0;">
                    @if (Model.ActiveProduct == null)
                    {
                        @if (Model.ActiveCategory != null)
                        {
                            <span><i class="fa fa-home" style="font-size: 24px;"></i>&nbsp;&nbsp;</span><i class="fa fa-angle-right"></i><span>&nbsp;&nbsp;@Model.ActiveCategory.Name</span>
                        }
                    }
                    else
                    {
                        <span><i class="fa fa-home" style="font-size: 24px;"></i>&nbsp;&nbsp;</span><i class="fa fa-angle-right"></i><span>&nbsp;&nbsp;@Model.ActiveProduct.Category.Name&nbsp;&nbsp;</span><i class="fa fa-angle-right"></i><span>&nbsp;&nbsp;@Model.ActiveProduct.Name</span>
                    }
                </div>
            </div>
        </div>
        <div class="max-width-1200" style="margin: 0 auto;">
            <div class="row" style="margin-left: 0; margin-right: 0;">
                <div class="col-sm-3">
                    <h4 style="border-bottom: 1px solid #242424; padding-bottom: 10px;"><strong>Danh mục sản phẩm</strong></h4>
                    <ul class="list-unstyled">
                        @foreach (var cat in Model.ListCategory.Where(lc => lc.ParentId == -1))
                        {
                            var catActive = cat.Id == Model.ActiveCategoryId ? "active" : "";
                            <li class="left-menu-item root-category @catActive">
                                <a asp-controller="Category" asp-action="Index" asp-route-id="@cat.Id"><i class="fa fa-angle-right"></i> @cat.Name</a>
                            </li>
                            @if (Model.ListCategory.Any(lc => lc.ParentId == cat.Id))
                            {
                                <li>
                                    <ul class="list-unstyled">
                                        @foreach (var cat2 in Model.ListCategory.Where(lc => lc.ParentId == cat.Id))
                                        {
                                            var catActive2 = cat2.Id == Model.ActiveCategoryId ? "active" : "";
                                            <li class="left-menu-item @catActive2">
                                                <a asp-controller="Category" asp-action="Index" asp-route-id="@cat2.Id">&nbsp;&nbsp;<i class="fa fa-angle-right"></i> @cat2.Name</a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }


                        }
                    </ul>
                    <br />
                    @* INFORMATION *@
                    <h4 style="border-bottom: 1px solid #242424; padding-bottom: 10px;"><strong>Thông tin công ty</strong></h4>
                    <ul class="list-unstyled information-block">
                        <li class="left-menu-item">
                            <a asp-controller="Home" asp-action="About">
                                <i class="fa fa-angle-right"></i><span> Giới thiệu</span>
                            </a>
                        </li>
                        <li class="left-menu-item">
                            <a asp-controller="Home" asp-action="Contact">
                                <i class="fa fa-angle-right"></i><span> Liên hệ</span>
                            </a>
                        </li>
                        <li class="left-menu-item">
                            <a asp-controller="Home" asp-action="Store">
                                <i class="fa fa-angle-right"></i><span> Chi nhánh, kho hàng</span>
                            </a>
                        </li>
                        <li class="left-menu-item">
                            <a asp-controller="Home" asp-action="Delivery">
                                <i class="fa fa-angle-right"></i><span> Chính sách vận chuyển</span>
                            </a>
                        </li>
                    </ul>
                    <br />
                    @* NEW PRODUCT *@
                    <h4 style="border-bottom: 1px solid #242424; padding-bottom: 10px;"><strong>Sản phẩm mới</strong></h4>
                    <ul class="list-unstyled list-new-product">
                        @foreach (var pro in Model.ListProduct.OrderBy(prd => prd.DateCRT).Take(5))
                        {
                            <li class="left-menu-item">
                                <div class="media" style="display: inline-flex;">
                                    @{ var imgUrl = !string.IsNullOrEmpty(pro.ImageUrl) ? pro.ImageUrl.Split(',')[0] : string.Empty; }
                                    <img class="d-flex align-self-start mr-3" src="@imgUrl" alt="@pro.Name" height="93" width="93">
                                    <div class="media-body" style="margin-left: 15px; color: #8c8c8c">
                                        <h5 class="mt-0" style="margin-top: 0;color: #242424;"><strong>@pro.Name</strong></h5>
                                        <!--@Html.Raw(pro.Description)-->
                                        @if (pro.Price == 0)
                                        {
                                            <h6 class="new-product-price-label">Liên hệ</h6>
                                        }
                                        else
                                        {
                                            <h6 class="new-product-price-label" style="color: #242424;"><strong>@pro.Price.ToString("###,###,###")</strong></h6>
                                        }
                                    </div>
                                </div>
                            </li>
                                        }
                    </ul>
                </div>
                <div class="col-sm-9">
                    @RenderBody()
                </div>
            </div>
        </div>
        <hr />
        @Html.Partial("~/Views/Shared/_LayoutFooter.cshtml")
        <div class="container-fluid" style="color: gray;font-size: 18px; font-weight: 700; padding-top: 15px; ">
            <h4 class="text-center">© 2017 Công ty TNHH TM&DV Kim Huy Hoàng. All Rights Reserved</h4>
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
